Repository voxpupuli/voxpupuli-acceptance, pull requests merged in 2025-03, with the labels that each got.

#92 Implement OpenVox support
  lib/voxpupuli/acceptance/spec_helper_acceptance.rb
  voxpupuli-acceptance.gemspec
Labels: enhancement

#95 Release 3.5.0
  CHANGELOG.md
  voxpupuli-acceptance.gemspec
Labels: skip-changelog

#96 Support none and preinstalled collections again
  README.md
  lib/voxpupuli/acceptance/spec_helper_acceptance.rb
  voxpupuli-acceptance.gemspec
Labels: bug

#97 Release 3.5.1
  CHANGELOG.md
  voxpupuli-acceptance.gemspec
Labels: skip-changelog
